* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient( 110.3deg,  rgba(72,85,99,1) 8.8%, rgba(127,146,166,1) 95.1% );
    overflow: auto;
    /* background: #3d545f; */
    min-height: 100vh;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

[class*="col-"] {
    width: 100%;
}

.top {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #171010;
    text-align: center;
    color: gold;
}

.top h3 {
    font-weight: 600;
    padding: 5px 0px;
    letter-spacing: 1px;
}

.top::after {
    content: "";
    clear: both;
    display: table;
}

.below {
    position: absolute;
    top: 70px;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.below h4 {
    padding: 0px 5px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 7px;
}

.below h4 span {
    color: red;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: anim 3s linear infinite;
}

@keyframes anim {
    50% {
        color: beige;
    }

    100% {
        color: yellow;
    }
}

.below::after {
    content: "";
    clear: both;
    display: table;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 250px;
    position: relative;
    margin-bottom: 60px;
    flex-direction: column;
    row-gap: 30px;
}

.slideshow-container .img1 {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.slideshow-container .img2 {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.slideshow-container .img3 {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.slideshow-container::after {
    content: "";
    clear: both;
    display: table;
}

/* .copyright {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 520px;
    margin-bottom: 0;
    padding: 7px 10px;
    background-color: transparent;
    text-align: center;
    color: yellow;
    opacity: 0.8;
    font-size: x-small;
}

.copyright p {
    font-family: 'Montserrat', sans-serif;
} */

.copyright{
    background: transparent;
    text-align: center;
    padding: 10px 0 ;
    margin-bottom: 0;
    width: 100%;
    display: block;
}
.copyright p{
    font-size: x-small;
    letter-spacing: 1px;
    color: yellow;
}

.copyright::after {
    content: "";
    clear: both;
    display: table;
}

